.logo-container {
    z-index: 0;
    width: 700px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    right: 15%;
    opacity: 0.8;
}

.solid-logo {
    bottom: 0;
    width: 100%;
    height: auto;
    transform: rotateZ(20deg);
    
    position: absolute;
    top: 40%;
    right: -200%;
    left: 0;
    margin: auto;
    z-index: 1;

    animation: logoInAnimation 2s linear forwards;
}

@keyframes logoInAnimation {
    100% {
        top: 20%;
        right: -50%;
        transform: rotateZ(-40deg);
    }
}