.about-page {
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.text {
    flex-basis: 50%;
    flex: 1;

    margin-left: 190px;
    margin-right: 10px;
}

.image-zone {
    flex-basis: 50%;
    flex: 1;
    margin-right: 100px;
    animation: fadeIn 1s 1s;
    animation-fill-mode: forwards;
    filter: drop-shadow(30px 10px 6px #93ffbc);
    
    img { 
        width: 80%; 
        height: auto; 
        filter: grayscale(100%);
    }
} 

@media only screen and (max-width: 800px){
    .about-page {
        display: block;
        margin-top: 50px;
    }
    
    .text {
        margin: 0 10%;
        margin-top: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 50%;

        h1 {
            &:after{
                display: none;
            }

            &:before{
                display: none;
            }
        }
    }
    
    .image-zone {
        margin: 0;
        height: 50%;
        
        img { 
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            filter: grayscale(100%);
        }
    } 
}
