.contact-form {
    width: 100%;
    margin-top: 20px;
    padding-top: 345px;    

    ul {
        padding: 0;
        margin: 0;

        li {
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 1s 1.2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'], input[type='email'] {
        width: 100%;
        border: 0;
        background: #2C2C2C;
        height: 50px;
        font-size: 16px;
        color: white;
        padding: 0 20px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 2px;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #2C2C2C;
        height: 50px;
        font-size: 16px;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 2px;
        min-height: 150px;
        resize: none;
    }

    textarea:focus {
        outline: none !important;
        border-color: #93ffbc;
    }

    input:focus {
        outline: none !important;
        border-color: #93ffbc;
    }

    input:-webkit-autofill{
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    .flat-button {
        width: 150px;
        height: 50px;
        color: #93ffbc;
        background: 0 0;
        font-size: 16px;
        letter-spacing: 7px;
        text-decoration: none;
        padding: 8px 10px;
        padding-left: 17px;
        border: 1px solid #93ffbc;
        float: right;
        border-radius: 2px;
        background: linear-gradient(to left, rgba(0,0,0,0.3) 50%, #93ffbc 50%) right;
        background-size: 200%;
        transition: .5s ease-out;

        &:hover {
            color: #000000;
            background-position: left;
        }
    }
}

.info-map {
    position: absolute;
    background-color: #1A1A1A;
    bottom: 40px;
    right: 40px;
    z-index: 3000;
    width: 300px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
    letter-spacing: 2px;
    border-radius: 2px;
    border: 2px solid #93ffbc;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #93ffbc;
    }
}

.map-wrap {
    border-radius: 2px;
    background: #2C2C2C77;
    float: right;
    width: 53%;
    height: 98%;
    margin: 10px;
}

.leaflet-container {
    border: 2px solid #93ffbc;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    background-color: #2C2C2C77;
}

.leaflet-layer {
    filter: grayscale(100%) invert(100%);
  }

.leaflet-popup {
    font-family: 'Helvetica';
    font-size: 17px;
    border-radius: 13px;
    border: 2px solid #000000;
    div {
        color: #000000;
        font-weight: 400;
    }
}
